/* default color scheme - light */
/* color-scheme - greenery
#62A678 - rich grean
#C9FFDB - light green
#A7F2C0 - wall green
#A62320 - bloody red
#F2A9A7 - pink
*/

body.theme-default *.button {
    background-color: #62A678;
    border-color: #C9FFDB #62A678;
    color: white;
}

body.theme-darkula *.button.disabled {
    background-color: #C9FFDB;
    border-color: #808080;
    color: #808080;
}

body.theme-default *.button:hover {
    border-color: #0F0F0F #62A678;
}

body.theme-darkula *.button.disabled:hover {
    background-color: #C9FFDB;
    border-color: #808080;
    color: #808080;
}

body.theme-default #infobox {
    background-color: #A62320;
    border-color: #0F0F0F;
    color: white;
}

body.theme-default #infobox:hover {
    border-color: #F2A9A7 #F2A9A7;
}

body.theme-default *.word_tile {
    background-color: #EDEBE0;
    color: black;
}

body.theme-default *.ui_player_turn {
    background-color: darkorange;
}

body.theme-default *.ui_player_words_pending {
    background-color: darkred;
}

body.theme-default *.ui_player_words_ready {
    background-color: forestgreen;
}

body.theme-default *.maintab {
    background-color: #DFFFF0;
    border-color: #C0C0C0;
}

body.theme-default *.leftfloat {
    background-color: #B9DFE0;
}

body.theme-default *.progress_bar_container {
    background-color: #DFFFF0;
}

body.theme-default *.progress_bar {
    background-color: #62A678;
}

body.theme-default *.progress_bar_label_fore {
    color: white;
}

body.theme-default *.progress_bar_label_back {
    color:  black;
}