/* dark scheme */
/* color-scheme - darkula - based on IntelliJ WebStorm darkula colors
cc7832 - orange text
6897BB - blue text
E8BF6A - light yellow text
A9B7C6 - white text
2B2B2B - dark background
A5C261 - light green
808080 - green comment
8585FF - indigo
see on switching themes
http://stackoverflow.com/questions/9979415/dynamically-load-and-unload-stylesheets
*/
.palette {
    color: #cc7832;
    color: #6897BB;
    color: #E8BF6A;
    color: #A9B7C6;
    color: #2B2B2B; /* background */
    color: #A5C261;
    color: #808080;
    color: #8585FF;

}

.button .theme-darkula {
    background-color: #62A678;
    border-color: #C9FFDB #62A678;
    color: white;
}

.button:hover .theme-darkula {
    border-color: #0F0F0F #62A678;
}

#infobox .theme-darkula {
    background-color: #A62320;
    border-color: #0F0F0F;
    color: white;
}

#infobox:hover .theme-darkula {
    border-color: #F2A9A7 #F2A9A7;
}

.word_tile .theme-darkula {
    background-color: #EDEBE0;
    color: black;
}

.ui_player_turn .theme-darkula {
    background-color: darkorange;
}

.ui_player_words_pending .theme-darkula {
    background-color: darkred;
}

.ui_player_words_ready .theme-darkula {
    background-color: forestgreen;
}

.maintab .theme-darkula {
    background-color: #DFFFF0;
    border-color: #C0C0C0;
}

.leftfloat .theme-darkula {
    background-color: #B9DFE0;
}

