/* color-scheme - greenery
#62A678 - rich grean
#C9FFDB - light green
#A7F2C0 - wall green
#A62320 - bloody red
#F2A9A7 - pink
*/

.button {
    background-color: #62A678;
    border-color: #C9FFDB #62A678;
    color: white;
}

.button:hover {
    border-color: #0F0F0F #62A678;
}

#infobox {
    background-color: #A62320;
    border-color: #0F0F0F;
    color: white;
}

#infobox:hover {
    border-color: #F2A9A7 #F2A9A7;
}

.word_tile {
    background-color: #EDEBE0;
    color: black;
}

.ui_player_turn {
    background-color: darkorange;
}

.ui_player_words_pending {
    background-color: darkred;
}

.ui_player_words_ready {
    background-color: forestgreen;
}

.maintab {
    background-color: #DFFFF0;
    border-color: #C0C0C0;
}

.leftfloat {
    background-color: #B9DFE0;
}

