.hidden_div {
    display: none;
}

#page {
    margin-left: 200px;
}

#room_select {
    width: 150px;
}

.ui_player_name {
    display: block;
    font-size: 150%;
    font-style: italic;
    transition: font-weight 500ms, background-color 800ms;
}

.ui_player_turn {
    font-weight: bold;
}

.maintab {
    float: right;
    width: 100%;
    border-style: none none none dotted;
}

.leftfloat {
    float: left;
    width: 190px;
    margin-left: -200px;

}

.tab_title {
    font-size: 150%;
    text-decoration: none;
    display: block;
}

.text_input_label {
    font-size: 150%;
    text-decoration: none;
}

.text_input {
    font-size: 150%;
    text-decoration: none;
}

.button {
    border-style: solid;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120%;
}

#infobox {
    border-style: solid;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120%;
}

.word_tile {
    border-style: none;
    padding: 6px 8px;
    margin: 2px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 165%;
    transition: transform 400ms;
}

.word_tile:hover {
    transform: translate(0px, -6px);
}

div.situp {
    position: relative;
}

span.situp {
    display: block;
    position: absolute;
}

#room_select_container {
    /*height: 100px;*/
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border: solid grey 1px;
}

#room_select_container select {
    padding:10px; margin:-5px -20px -5px -5px;
}

#nav_player {
    display: inline-block;
    font-size: 125%;
    font-style: italic;
}
